* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 40px;

}

div,
main {
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}



@media screen and (max-width: 500px) {

    body {
        padding-top: 20px;
    }
}